<% provide(:title, "About") %>
<h1>About</h1>
<p>Members Only! is an exclusive clubhouse where members can <strike>write embarrassing posts about non-members</strike> share pictures of cute lil' kittens.</p>
