<div class="center jumbotron">
  <h1>Welcome to <strong>Members Only!</strong></h1>
  <%= image_tag "cat-1333926_960_720.jpg", class: "poster" %>
  <h2>
    Click <%= link_to "here", "#" %> to log in. Not yet a member? Click the link below to register.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>